$font-playfair: "Playfair Display", serif;
$font-lobster: "Lobster", cursive;

@mixin card-laptop($height, $margin-vertical, $margin-horizontal) {
	width: 200px;
	height: $height;
	margin: $margin-vertical $margin-horizontal;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin dropdown-focus-unchange {
	&:hover,
	&:focus {
		background-color: transparent;
		color: inherit;
	}
}

@mixin mask($color, $opacity) {
	content: "";
	background-color: $color;
	opacity: $opacity;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

h1 {
	font-family: $font-lobster;
}

html {
	box-sizing: border-box;
	font-family: $font-playfair;
	header {
		position: fixed;
		width: 100vw;
		z-index: 2;
		.cart-dropdown-list {
			.cart-total {
				text-align: center;
				pointer-events: none;
				cursor: default;
				@include dropdown-focus-unchange;
				margin: 10px 0;
				min-width: 400px;
			}
			.cart-item {
				img {
					width: 60px;
					height: 40px;
					background-color: gray;
					border-radius: 50%;
					margin: auto;
				}
				.cart-item-name {
					pointer-events: none;
					cursor: default;
					@include dropdown-focus-unchange;
				}
				.cart-item-delete {
					border-radius: 50%;
					width: 50px;
					height: 40px;
					margin: auto;
					@include dropdown-focus-unchange;
				}
			}
			#clear-button,
			#checkout-button {
				width: 40%;
			}
		}
	}
	body {
		main {
			.welcome {
				height: 90vh;
				background-color: #191d1e;
				background-image: url(../image/image-1.jpg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				color: white;
				@include flex-column-center;
				p {
					font-size: 1.3rem;
				}
			}
			.menu {
				.menu-header {
					background-color: lightcoral;
					height: 120px;
					@include flex-column-center;
					background-image: url(../image/image-2.jpg);
					background-position: center;
					background-size: cover;
					color: white;
					.search {
						width: 400px;
						margin: 0 auto;
					}
				}
				.menu-cards {
					background-color: black;
					padding: 5% 15%;
					&::after {
						content: "";
						display: block;
						@include card-laptop(0, 0, 20px);
					}
					&::before {
						content: "";
						display: block;
						@include card-laptop(0, 0, 20px);
						order: 1;
					}
					.card {
						@include card-laptop(300px, 20px, 20px);
						border: 10px solid lightgray;
						overflow: hidden;
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						&:hover .card-body {
							animation-name: slideIn;
							animation-duration: 1s;
							animation-timing-function: ease;
							animation-delay: 0s;
							animation-iteration-count: 1;
							animation-direction: normal;
							animation-fill-mode: forwards;
						}
						@keyframes slideIn {
							0% {
								transform: translateY(-100%);
								opacity: 0;
							}
							100% {
								transform: translateY(0);
								opacity: 1;
							}
						}
						.card-body {
							@include flex-column-center;
							align-items: center;
							opacity: 0;
							position: relative;
							h5,
							p,
							button {
								z-index: 1;
							}
							button {
								width: 80%;
								border-radius: 20px;
							}
							&::before {
								@include mask(lightblue, 0.7);
							}
						}
						// @media (max-width: 992px) {
						// }
						@media (max-width: 768px) {
							width: 80%;
						}
					}
					// @media (max-width: 992px) {
					// }
					// @media (max-width: 768px) {
					// }
				}
			}
		}
		footer {
			height: 4rem;
			background-color: rgb(65, 65, 65);
			color: white;
		}
	}
}
